<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .jumbotron {
            padding-top: 5px;
            padding-bottom: 1px;
            background-color: #f07a4f;

        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="color: black;">Video Streaming</h1>
        </div>
    </div>
</body>
</html>